.flexbox{
    display: flex;
    border: 2px solid red;
    background-color: greenyellow;
    padding: 15px;
    width: 90%;
}
#blanco{
    padding: 20px;
    margin: 50px;
    background-color: white;
}
#rosado{
    padding: 20px;
    margin: 50px;
    background-color: pink;
}
#celeste{
    padding: 20px;
    margin: 50px;
    background-color: skyblue;
}
#cuatro{
    padding: 20px;
    margin: 50px;
    background-color: skyblue;
}
#cinco{
    padding: 20px;
    margin: 50px;
    background-color: skyblue;
}

body{
    background-color: rgb(182, 182, 182);
}
#Regreso{
    text-align: center;
}